/* Barebones Compass layout styles
 *
 * Content styles
 */

.layout-content {
    @if ($layout-header-fixed != false) {
        padding-top: 0;
    }
}

.layout-aside + .layout-content {
    margin-left:0;
}

.layout-container{
	position: relative;
	height: 100%;
	@extend %clearfix;
}