/* Barebones Compass layout styles
 *
 * Header styles
 */
$layout-header-fixed: false !default;

.layout-header {
    @if ($layout-header-fixed != false and $layout-header-height > 0) {
        height: $layout-header-height;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    } @else if ($layout-header-height > 0) {
        height: $layout-header-height;
    }
}

.layout-header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000111111;
  transform: translateZ(0);

	.main-logo{
		position: fixed;
		top: 30px;
		left: 50px;
		transition: all .15s linear;
		text-decoration: none;
		color: #fff;
	    z-index: 1111;
		.logo-text{
			display: inline-block;
			font-size: 16px;
    		letter-spacing: 1.5px;
			margin-left: 10px;
			text-transform: uppercase;
			vertical-align: top;
    		line-height: 60px;
		}
	}
	.nav-bar{
		position: fixed;
		top:15px;
		right: 0;
		left: 0;
		text-align: center;
		transition: all .25s linear;
		li {
			display: inline-block;
			margin-right: 30px;
		  position: relative;
		  &:last-of-type{
			&.active{
			  &:before{
				content: '';
				display: block;
				transform: rotateZ(-26deg);
				width: 80px;
				height: 2px;
				top: 11px;
				left: -11px;
				position: absolute;
				background-color: #1d6fc1;
				z-index: -1;
			  }
			}
		  }
		   &.active{
			 &:before{
			   content: '';
			   display: block;
			   transform: rotateZ(-26deg);
			   width: 80px;
			   height: 2px;
			   top: 11px;
			   left: 12%;
			   position: absolute;
			   background-color: #1d6fc1;
			   z-index: -1;
			 }
		   }
			&.active a{
				opacity: 1;
			}
			a{
				color:#fff;
				opacity: .35;
				transition: all .25s linear;

				&:hover{
					opacity: 1;
				}
		    }
		}
	}
	.header-tel{
		position: fixed;
		top:44px;
		right: 50px;
		font-size: 16px;
		transition: all .25s linear;
		span{
			color:$text-blue;
		}
	}
	.top-header-bg{
		opacity: 0;
		height: 0;
		transition: all .3s ease-in-out;
	}
}



.layout-header.black-head{
	height: 75px;
	.main-logo{
		top: 13px;
	}
	.nav-bar{
		top:0;
	}
	.header-tel{
		top:30px;
	}

	.top-header-bg{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #1d242c;
		opacity: 1;
		transition: all .3s ease-in-out;
	}
}
