<!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="layout-header">
            <div class="top-header-bg"></div>
        	<a href="#" class="main-logo">
        		<img src="images/logo.png" alt="">
        		<div class="logo-text">STEEL WORK GROUP</div>
        	</a>
        	<div class="nav-bar">
        		<ul>
        			<li class="active"><a href="#">Проектирование</a></li>
        			<li><a href="#">Изготовление</a></li>
        			<li><a href="#">Монтаж</a></li>
        		</ul>
        	</div>
        	<div class="header-tel">+380 44 456 <span>-</span>17<span>-</span>32</div>
        </div>
