/* Barebones Compass element styles
 *
 * General element styles
 */

/* Html styles
 *
 * Html uses base styles, which are inherited globally
 */
html {
    color: $base-color;
    font-family: $base-font-family;
    font-size: $base-font-size;

    // Font smoothing OSX
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @if $base-font-style != normal {
        font-style: $base-font-style;
    }

    @if $base-font-weight != normal and $base-font-weight != 400 {
        font-weight: $base-font-weight;
    }

    line-height: $base-line-height;

    background-color: $base-background-color;

    // http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}
html, body{
    min-width: 100%;
}

::selection {
    color: #fff;
    background-color: #177ee6;
}

/* Custom element styles
 */
p {
    margin: $base-margin 0;
}

figure {
    text-align: center;

    margin: $base-margin * 1.5 0;

    img {
        margin: 0 auto;

        display: block;
        max-width: 100%;
    }
}

figcaption {
    margin: $base-margin * 0.5 0;
}

hr {
    margin: $base-margin 0;

    border: 0;
    border-top: 1px solid #ccc;
}
ul li {
    list-style: none;
}

a{
    text-decoration: none !important;
}

.inlineblock{
    display: inline-block;
}
.block{
    display: block;
}
.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.clearfix{
    @extend %clearfix;
}
.nomargin{
    margin: 0;
}
.nopadding{
    padding: 0;
}

.separator10{
    display: block;
    width: 100%;
    height: 10px;
}
.separator20{
    display: block;
    width: 100%;
    height: 20px;
}
.separator30{
    display: block;
    width: 100%;
    height: 30px;
}
.separator40{
    display: block;
    width: 100%;
    height: 40px;
}
.separator50{
    display: block;
    width: 100%;
    height: 50px;
}
.separator100{
    display: block;
    width: 100%;
    height: 100px;
}
.vTop{
    vertical-align: top;
}
.vMiddle{
    vertical-align:middle; 
}
.vBottom{
    vertical-align: bottom;
}
.caps{
    text-transform: uppercase;
}


.tilt {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.tilt__back,
.tilt__front {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tilt__back {
    position: relative;
}

.tilt__front {
    position: absolute;
    top: 0;
    left: 0;
}