/* Barebones Compass header styles
 *
 * Header element styles
 */

h1,
h2,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.33;

    margin: $base-margin 0;
}

h1,
h2,
h3 {
    margin-top: $base-margin * 1.75;
}

h1 {
    font-size: 110px;
    line-height: 110px;
    text-transform: uppercase;
    text-align: center
}

h2 {
    font-size: 40px;
    font-weight: normal !important;
    line-height: 45px;
}

h3 {
    font-size: 35px;
    margin: $base-margin 0;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: rem(16px);
}

h6 {
    font-size: rem(14px);
}
