.application{

    background: #212c33;
  h1{
    font-size: 90px;
    display: block;
    padding-top: 140px;
    text-align: left;
  }
}
label{
  position: absolute;
  display: inline-block;
  user-select: none;
  font-size: 18px;
  cursor: text;
  left: 20px;
  top: 20.7%;
  color: #51616d;
  padding: 5px;
  transition: top .15s linear;
}
input[type="text"]{

  outline: none;
  border: 1px solid transparent;
 background: #192126;
  height: 60px;
  width: 240px;
  padding: 25px;
  font-size: 18px;

}
.form-group{
  position: relative;
}
.form-control{
  &:focus{
    outline: none;
    border: none;
    border: 1px solid #607380;
    background: #212c33;

  }
}
.form-control:focus~label{
  top:-18px;
  background: #212c33;
  padding: 5px;
  color: #acb8bf;
}
input[type="text"].not-empty{
  outline: none;
  border: none;
  border: 1px solid #607380;
  background: #212c33;
}
.not-empty~label{
  top:-18px;
  background: #212c33;
  padding: 5px;
  color: #acb8bf;
}
.half{
  display: inline-block;
  margin-right: 20px;
}
.full{
  width: 100%;
  input[type="text"] {
    width: 504px;
  }
}
.form-block{
  margin-top: 50px;
}
.dropzone{
  height: 60px !important;
  min-height: 60px;
  width: 504px;
  background-color: transparent;
  border: 1px dashed #607380;
  position: relative;
   .dz-preview{
     position: absolute;
     top: 0;
     height: 60px;
     min-height: 60px;
     margin: 0;
   }
}
.dz-message{
  position: absolute;
  margin: 0 !important;
  span{
    color: #607380 ;
  }
}
.dropzone .dz-preview.dz-file-preview .dz-image{
  background: transparent;
}
.dropzone .dz-preview .dz-details .dz-size {
  position: absolute;
  left: 200%;
  display: block;
  width: 100px;
  top: 19px;
}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span{
  width: 100px;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover){
  position: absolute;
  top: 19px;
}
.dropzone .dz-preview.dz-error .dz-error-message{
  display: none;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark{
  display: none;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark{
  display: none;
}
