.assembly-spec{
  span{
    text-align: center;
  }
  .svg-cont{
    width: 216px;
    margin-left: 0;

  }
}
.professional{
  .svg-cont{
    width: auto;
    margin-left: 0;
  }
  span{
    display:inline-block !important;
    width: 200px !important;
  }
}
.layout-content{
  clear: both;
  min-height: 100%;
  height: 100%;
  min-width: 1280px;
  padding: 0;
  margin: 0 auto;
  max-width: 2300px;
}
.head-block{
  //background-image: url("../images/main_background.jpg") !important;
}
.projecting-head-block{

}
.producing-head-block{

}
.montage-head-block{

}

.work-in{

}
.head-block{
  background: #000;
  img{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    opacity: 0;
  }
}
.arrow-bottom {
  position: absolute;
  /* bottom: -40px; */
  left: 0;
  right: 0;
  margin-top: -81px;
  margin-left: auto;
  margin-right: auto;
  top: 100%;
  z-index: 11111;
  /* margin: 0 auto; */
  width: 160px;
  height: 80px;
  background-image: url(../images/rect.png);
  cursor: pointer;
  transition: all 0.15s linear;
  &:hover{
    transform: scale(1.1);
  }
  .arrow-down{
    position: absolute;
    width: 43px;
    top: 45%;
    left: 58px;
    margin: 0 auto;
    height: 12px;
    background-image: url(../images/arrow-down.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
.arrow-map{
  display: inline-block;
  position: absolute;

}
.head-content{
  h1{
    font-size: 87px;
  }
  p{
    font-size: 20px;
    font-weight: bold;
  }
}
.autor-name,.autor-position{
  color: #1d252b;
}
#Client-carousel{
  position: relative;
  .item{


    &.left{
      opacity: .3;
    }
    &.right{
      opacity: .3;
    }
  }
  .quote-block{
    height: 500px;
  }
  .carousel-control{
    top: 66%;
    width:24%;
    opacity: 1;
    text-shadow: none;
    &.right{
      background-image: none;
    }
    &.left{
      background-image: none;
    }
  }
}
.projects{
  .button-cont{
    position: relative;
    display: block;
    cursor: pointer;
    transition: all .3s linear;
    &:hover{
      opacity: .5;
    }
  }
  .contact-us{
    position: absolute;
    top: 8px;
    left: 42px;

    color: #1b78d6;

  }
}
.button-cont{
  position: relative;
  margin-top: 20px;
  display: block;
  cursor: pointer;
  transition: all .3s linear;
  &:hover{
    opacity: .5;
  }

}
.contact-us{
  position: absolute;
  top: 8px;
  left: 40px;
  color: #1b78d6;
  span{
    font-size: 17px;
    text-transform: none !important;
  }

}
.pagin-head{
  h1{
    color: #000;
    text-align: left;
    display: inline-block;
  }

}
.project-block{
  display: inline-block;
  margin-bottom: 30px;

 &:nth-of-type(even){
   padding-left: 50px;
 }
  .proj-descr{
    display: block;
    text-align: left;
    color: #1b78d6;
    &:hover{
      color: #1b78d6 + 20%;
    }
    &:active{
      color: #1b78d6 - 20%;
    }
  }
  .company-role{
    span{
      display: block;
      text-align: left;
      color: #c1ccd3;
    }
  }
}
.header-portfolio{
  position: static !important;
  .nav-bar{
    li{
      a{
        color: #1b78d6 !important;
        opacity: 1!important;
      }
    }
  }

}
.portfolio-content{
  padding-top: 100px !important;
  .application{
    position: absolute;
    width: 100%;
    bottom: -537px;
  }

}
