.layout-content.placeholder-content{
	background: #2a3540;
	font-style: 'DecimaNova';
	font-weight: lighter;
	color:#fff;
	height: 100vh;
	overflow: hidden;
	.main-logo{
		position: fixed;
		top: 30px;
		left: 50px;

		.logo-text{
			display: inline-block;
			font-size: 12px;
    		letter-spacing: 1.5px;
			margin-left: 10px;
			text-transform: uppercase;
			vertical-align: top;
    		line-height: 15px;
		}
	}
.layout-container{
	display: block;
	position: absolute;
	height: auto;
	@extend %center;
}
	.p-content-block{
		.p-main-text{
			display: inline-block;
			width: 74%;
			font-size: 45px;
			line-height: 45px;
			font-weight: lighter;
			vertical-align: top;
		}
		.p-contacts{
			width: 25%;
			display: inline-block;
			font-size: 16px;
			vertical-align: top;
			.email{
				color: #67a6e5;
				font-weight: normal;
			}
		}
		.under-constraction{
			opacity: .5;
			filter: alpha(opacity=50);
			margin-top: 150px;
		}
	}
}

.main-bg{
	position: fixed;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-bg canvas {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  width: 100%;
  display: none !important;
  position: absolute;
  bottom: 5%;
  text-align: center;
  list-style: none;
  z-index: 1;
}

.navigation li {
  border: 3px solid #eceff1;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  background: #52525a;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.navigation .active {
  background: #eceff1;
}

.cache {
	display: none;
}

@media all and (max-width:960px){
	.placeholder-content .layout-container{
		width: 90%;
		.p-main-text{
			display: block !important;
			width: 100% !important;
			margin-bottom: 50px;
		}
		.p-contacts{
			display: block !important;
			width: 100% !important;
		}
	}

}