.projects{
	color:$black;
	padding-top: 700px;
	height: 1500px;
	h1{
		text-align: left;
		margin-bottom: 30px;
	}
	.gallery-block{
		position: absolute;
		height: auto;
		width: 1000px;
	  	top: 135px;
	  	left: 140px;
		.rhomb-wrapper{
			display: block;
			position: absolute;
			overflow: hidden;
			width: 280px;
			height: 280px;
			transform: rotate(135deg) skew(20deg, 20deg);
			cursor: pointer;
			&:after{
				content:'';
				display: block;
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-color: #000;
				transition:all .25s linear;
			}
			&:before{
				content:'';
				display: block;
				position: absolute;
				width: 35%;
			    height: 35%;
			    right: 65%;
			    bottom: 65%;
				background-color: $blue;
				color:#fff;
				z-index: 1;
				opacity: 0;
				transition:opacity .25s linear;
			}
			//&:hover{
			//	&:after{
			//		opacity: .5;
			//	}
			//	&:before{
			//		opacity: 1;
			//	}
			//}

		} 
		.rhomb-inner{
			width: 230%;
		    height: 120%;
		    position: absolute;
		    top: -5%;
		    background-size: cover;
		    right: -60%;
    		background-position: 50% 50%;
    		background-repeat: no-repeat;
    		transform:  skew(-20deg, -20deg) rotate(-135deg);
		}

		.rhomb-cont:nth-of-type(1){
			top: 270px;
    		left: 153px;
		}
		.rhomb-cont:nth-of-type(2){
			top: 135px;
    		left: 438px;
		}
		.rhomb-cont:nth-of-type(3){
			top: 406px;
    		left: 437px;
		}
		.rhomb-cont:nth-of-type(4){
			top: 0px;
    		left: 720px;
		}
		.rhomb-cont:nth-of-type(5){
			top: 270px;
    		left: 720px;
		}
		.rhomb-cont:nth-of-type(6){
			top: 543px;
    		left: 720px;
		}

		//.rhomb-1{
		//	background-image: url(../images/project-1-man.jpg);
		//}
		//.rhomb-2{
		//	background-image: url(../images/project-2-man.jpg);
		//}
		//.rhomb-3{
    		//background-image: url(../images/project-3-man.jpg);
		//}
		//.rhomb-4{
		//	background-image: url(../images/project-4-man.jpg);
		//}
		//.rhomb-5{
		//	background-image: url(../images/project-5-man.jpg);
		//}
		//.rhomb-6{
    		//background-image: url(../images/project-6-man.jpg);
		//}
	}

	img[data-mask]{
	  /* hide original imgs */
	  visibility: hidden;
	}
	.no-js img[data-mask]{
	  /* show original imgs for non JS users */
	  /* requires '<html class="no-js">' setup as seen in the HTML5 boilerplate */
	  visibility: visible;
	}
	.svgMask image {
	  /* IE fix */
	  visibility: visible;
	}
}
.assembly-page {
	width: 100%;
	h1 {
		font-size: 100px;
	}
	.layout-container {
		width: 990px;
	}
	.gallery-block {
		top: 75px;
	}
	p {
		font-size: 18px;
		width: 400px;
	}
	.scope-block {
		overflow: hidden;
		height: 100%;
		.right-s {
			top: 313px;
		}
		.right-f {
			top: -85px;
		}
		.mask-f {
			top: 50px;
		}
		li {
		  width: 442px;
		 float: none;
		  display: inline-block;
		  overflow: hidden;
		  text-align: left;
		  margin-right: 37px;
		  margin-bottom: 40px;
		  .svg-cont{
			vertical-align: middle;
			float: none;
		  }
		  &:first-of-type{
			span{
			  padding-left: 0;
			}
		  }
			&:nth-of-type(even) {

			}
			&:last-of-type {
				margin-right: 0;
			}
			img {
				display: block;
				float: left;
			}
			span {

				display: inline-block;
			  vertical-align: middle;
				float: none;
				clear: both;
			  	width: 218px;
				color: #0f2d41;
				font-size: 20px;
				font-weight: 800;
			 	 text-align: left;


			}
		}
	}
	.equipment-section {
		h1 {
			text-align: left;
		}
		li {
			display: inline-block;
			width: 440px;
			margin-top: 48px;
			img {
				float: left;
			}
			span {
				color: #425466;
				font-size: 18px;
				float: left;
				text-align: left;
				width: 200px;
				margin: 20px 0 0 40px;
			}
			&:first-of-type {
				span {
					width: 200px;
				}
			}
			&:nth-of-type(2) {
			  float: right;
				span {
					width: 310px;
				}
			}
			&:last-of-type {
			  float: right;
				span {
					width: 229px;
				}
			}
		}
		.layout-container {
			position: relative;
			z-index: 100;	
		}
		
	}
	.work-in {		
		height: 1000px;

		.layout-container {
			position: relative;
			z-index: 100;
			margin-top: 271px;
			h1 {
			  position: relative;
			  top:-200px;
				z-index: 9000;
				color: #1d252b;
				text-align: left;
				width: 550px;
				float: left;
			}
			.right-part {
				width: 310px;
				float: right;
				margin-top: 100px;
				img {
					float: right;
					display: block;
				}
				.right-part-text-block {
					clear: both;
					padding-top: 10px;
				}
				p {
					font-size: 20px;
					font-weight: 800;
					clear: both;
					width: 200px;
					margin-top: -3px;
				}
				span {
					font-size: 18px;
					width: 270px;
					display: block;
				}
			}
			.left-part {
				width: 540px;
				float: left;
				margin-top: 120px;
				img {
					float: left;
				}
				.left-part-text-block {
					float: left;
					padding-top: 10px;
					width: auto;
					width: 250px;
					margin-left: 40px;
					margin-top: -40px;
				}
				p {
					font-size: 20px;
					font-weight: 800;
					clear: both;
					width: 200px;
				}
				span {
					font-size: 18px;
					width: 250px;
					display: block;
				}
			}
		}
		.equipment-section-bg {
		  position: absolute;
		  height: 800px;
		  left: -50%;
		  top: 0;
		  -webkit-transform: rotateZ(-26deg);
		  transform: rotateZ(-26deg);
		  width: 200%;
		  position: absolute;
		  overflow: hidden;
		  top: 0;
		  left: -50%;
		  width: 200%;
		  background-color: rgb(213,234,254);
			.equipment-section-bg-rotate{
			  position: absolute;
			  height: 318%;
			  top: -156%;
			  left: 13%;
			  right: -31px;
			  top: -128%;
			  -webkit-transform: rotateZ(26deg);
			  transform: rotateZ(26deg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  background-position: -9% 24%;
			  background: url(../images/assembly-heights.jpg);
			}
		}

	}
	.projects-manufacture {
	  	padding-top: 44px;
		position: relative;
		z-index: 100;
		height: 740px;
		width: auto;
	}
	.manufacture-work-scheme {
		p {
		  width: 202px;
		  margin-left: -35px;

		}
		.rhombus-2 {
			top: 234px;
			left: 384px;
		}
	}
}

image {
	// &:hover{
	//     transform: scale(1.05);
	//     z-index: 99;
	// }
	overflow: hidden;
    transition: all .15s linear;
}
.work-in{
  .left-block{
	display: inline-block;
	margin-top: 20px;
	.svg-container{
	  float: left;
	  margin-right: 30px;
	}
  }
  .right-block{
	position: relative;
	display: inline-block;
	float: right;
	/* top: -250px; */
	top: 225px;
	.svg-container{
	  position: absolute;
	  right: -14px;
	  top: -64px;
	}
  }
  .text{
	width: 260px;
	color: #000;
	margin-right: 150px;
	h3{
	  font-weight: bold !important;
	  line-height: 30px;
	}
  }
  .text, .svg-container{
	display: inline-block;
  }
}
.projecting-projects{
  padding-top: 220px;
  height: 1000px;
}
.manuf-gallery{
  .rhomb-1{
	background-image: url(../images/project-1-man.jpg);

  }
  .rhomb-2{
	background-image: url(../images/project-2-man.jpg);
  }
  .rhomb-3{
	background-image: url(../images/project-3-man.jpg);
  }
  .rhomb-4{
	background-image: url(../images/project-4-man.jpg);
  }
  .rhomb-5{
	background-image: url(../images/project-5-man.jpg);
  }
  .rhomb-6{
	background-image: url(../images/project-6-man.jpg);
  }
  &.easter-bg{
	.rhomb-1{
	  background-image: url(../images/de-niro.jpg);
	}
	.rhomb-2{
	  background-image: url(../images/de-niro.jpg);
	}
	.rhomb-3{
	  background-image: url(../images/de-niro.jpg);
	}
	.rhomb-4{
	  background-image: url(../images/de-niro.jpg);
	}
	.rhomb-5{
	  background-image: url(../images/de-niro.jpg);
	}
	.rhomb-6{
	  background-image: url(../images/de-niro.jpg);
	}
  }
}
.rhomb-cont{
  position: relative;
}
.index-gallery{
  .rhomb-1{
	background-image: url(../images/project-1-i.jpg);
  }
  .rhomb-2{
	background-image: url(../images/project-2-i.jpg);
  }
  .rhomb-3{
	background-image: url(../images/project-3-i.jpg);
  }
  .rhomb-4{
	background-image: url(../images/project-4-i.jpg);
  }
  .rhomb-5{
	background-image: url(../images/project-5-i.jpg);
  }
  .rhomb-6{
	background-image: url(../images/project-6-i.jpg);
  }
}
.assembly-gallery{
  .rhomb-1{
	background-image: url(../images/project-1-a.jpg);
  }
  .rhomb-2{
	background-image: url(../images/project-2-a.jpg);
  }
  .rhomb-3{
	background-image: url(../images/project-3-a.jpg);
  }
  .rhomb-4{
	background-image: url(../images/project-4-a.jpg);
  }
  .rhomb-5{
	background-image: url(../images/project-5-a.jpg);
  }
  .rhomb-6{
	background-image: url(../images/project-6-a.jpg);
  }
}
.projecting-gallery{
  .rhomb-1{
	background-image: url(../images/project-1-p.jpg);
  }
  .rhomb-2{
	background-image: url(../images/project-2-p.jpg);
  }
  .rhomb-3{
	background-image: url(../images/project-3-p.jpg);
  }
  .rhomb-4{
	background-image: url(../images/project-4-p.jpg);
  }
  .rhomb-5{
	background-image: url(../images/project-5-p.jpg);
  }
  .rhomb-6{
	background-image: url(../images/project-6-p.jpg);
  }
}
//.rhomb-1{
//  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
//}
//.rhomb-2{
//  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
//}
//.rhomb-3{
//  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
//}
//.rhomb-4{
//  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
//}
//.rhomb-5{
//  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
//}
.rhomb-wrapper{
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

