.projects{
	color:$black;
	padding-top: 500px;
	height: 1500px;
	h1{
		text-align: left;
		margin-bottom: 30px;
	}
	.gallery-block{
		position: absolute;
		height: 600px;
		width: 1000px;
		top:100px;
		left: 0;
		.romb{
			display: block;
			position: absolute;
		}
		.romb-1{
			top:50%;
			left: 0;
			transform:translate(0, -50%);
			z-index:2;
		}
		.romb-2{
			top: 15px;
    		left: 275px;
			transform:translate(0, 0);
			z-index:2;
		}
		.romb-3{
			top: 290px;
    		left: 275px;
			transform:translate(0, 0);
			z-index:2;
		}
	}

	img[data-mask]{
	  /* hide original imgs */
	  visibility: hidden;
	}
	.no-js img[data-mask]{
	  /* show original imgs for non JS users */
	  /* requires '<html class="no-js">' setup as seen in the HTML5 boilerplate */
	  visibility: visible;
	}
	.svgMask image {
	  /* IE fix */
	  visibility: visible;
	}
}

image {
	// &:hover{
	//     transform: scale(1.05);
	//     z-index: 99;
	// }
	overflow: hidden;
    transition: all .15s linear;
}
