.line{
    position: absolute;
    top:-190px;
    width: 200%;
    height: 2px;
    background-color: $color-light-grey;
    z-index: -100;
}
.scope-block{
    position: relative;
    height: 1400px;
    .layout-container{
      margin-top: 230px;
    }
}
.right-f{
    transform: rotateZ(-26deg);
    left: -50%;
}
.right-s{
    transform: rotateZ(-26deg);
    top: 89px;
    left: -50%;
}
.right-t{
    transform: rotateZ(-26deg);
    top:700px;
    left: -50%;
    z-index: -201;
    
}
.left-f{
    transform: rotateZ(26deg);
    right: -50%;
}
.left-s{
    transform: rotateZ(26deg);
    top: 600px;
    right: -50%;
}
.scope-content{
    color: #000;
    h1{
        text-align: left;
        color: #000;
        display: block;
        padding-left: 60px;
    }
}
.scope-info-text{
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
.mask{
    position: absolute;
    width: 200%;
    background: #fff;
}
.mask-f{
    height: 249px;
    background: #fff;
    transform: rotateZ(-26deg);
    top: -174px;
    left: -50%;
    z-index: -10;
}
.mask-s{
    transform: rotateZ(26deg);
    top: -600px;
    left: -50%;
    z-index:-200;
    height: 1135px;
}
.scope-info-text{
    margin: 0 60px;
    h4{
        color: #297acc;
    }
    p{
        font-size: 18px;
        
    }
}
.floated-r{
    float: right;
}
.padding-top{
    padding-top: 80px;
}
.build-block{
    width:300px;
    height: 300px;
    color:#231F20;
}

svg * {
    fill: none;
   
}
#hi-there {
                width: 100%;
            }

.svg-cont{
    display: inline-block;
    float: left;
    width: 300px;
}
