.work-scheme{
	color:$black;
	position: relative;
	height: 700px;
	width: 100%;

	h1{
		position: relative;
		right: -235px;
    	top: -35px;
	}

	ul.rhombus-block{
    		position: absolute;
		    left: 0;
		    margin: 0 auto;
		    right: 0;
		    text-align: center;
		    top: 100px;
		    width: 900px;
		    height: 100%;
    	}
		.scheme-bg-content{
			position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 0;
			background-image: url(../images/lines_2.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;
			width: 480px;
    		height: 310px;
    		margin: 0 auto;
		}
	.dashed-blue-line{
		position: absolute;
		display: block;
		transform: rotate(26deg);
		width: 200%;
		height: 0px;
		top: 50%;
    	left: -50%;
    	z-index: -110;
		border-bottom: 1px dashed $blue;
	}
	.rhombus-item{
		position: absolute;
		text-align: center;
		line-height: 18px;
	}
	.rhombus{
		background-image: url(../images/rhombus-grey.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		font-size: 25px;
		font-weight: bold;
		height: 62px;
    	width: 120px;
		text-align: center;
		vertical-align: middle;
		line-height: 62px;
		color:#fff;
		cursor: pointer;
		transform: rotate(-1deg);
		&.focus,
		&:hover{
			background-image: url(../images/rhombus-blue.png);
		}
	}
	.rhombus-1{
		top: 49px;
    	left: 0px;
	}
	.rhombus-2{
		top: 141px;
    	left: 190px;
	}
	.rhombus-3{
		top: 236px;
    	left: 385px;
	}
	.rhombus-4{
		top: 334px;
    	left: 585px;
    	p{
    		margin-left: -15px;
    	}
	}
	.rhombus-5{
		top: 427px;
    	left: 775px
	}
}