.homepage-content{
  .padding-less{
    font-size: 98px;
  }
  .svg-cont{
    position: absolute;
    right: -24px;
    top: 111px;
    width: 500px;
  }
  .text-block{
    text-align: left;
    margin-top: 45px;
    width: 360px;
  span{
    color: #000;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
  }
  }
}
.homepage-scope{
  height: 650px;

}
.more-btn{
  display: block;
  border: none;
  background-color: #1b78d6;
  width: 145px;
  height: 45px;
  color: #fff;
  margin-top: 20px;
  transition: all .3s linear;
  &:hover{
    background-color: #1b78d6+20% ;
  }

}
section{
  position: relative;
}
.montage-section{
  h1{
    z-index: 111;
    color: #fff;
  }
  svg{
    line,path,polygon,polyline{
      stroke: #000 !important;
    }
  }
  .svg-cont{
    position: absolute;
    top: -550px;
    z-index: 1000;
    width: 500px;
    left: -120px;
  }
  .text-block{
    text-align: left;
    position: absolute;
    z-index: 111;
    top: -400px;
    right: -14px;
    span{
      color: #fff;
      font-weight: normal;
    }
  .more-btn{
    background-color: #1d252b;
    &:hover{
      background-color: #1d252b+20%;
    }
  }
  }
}
.montage-bg{
  position: absolute;
  width: 200%;
  top: -864px;
  margin-top: -100px;
  height: 840px;
  left: -50%;
  overflow: hidden;
  -webkit-transform: rotateZ(-26deg);
  transform: rotateZ(-26deg);
  background-color: #1b78d6;
  .dotted-bg{
    width: 200%;
    height: 500%;
    top: -100%;
    position: absolute;
    background-image: url(../images/dot.png);
    background-position: 50% 50%;
    background-repeat: 10px;
    -webkit-transform: rotate(26deg);
    transform: rotate(26deg);

  }
}
.manufacturing-section{
  margin-top: -40px;
  padding: 154px 0;
  height: 900px;
  background-color: #000;
  .layout-container{
    z-index: 11;
  }
h1{
  position: static;
  z-index: 100;
  top: -126px;
  left: -14px;
  text-align: left;
}
.text-block{
  /* position: absolute; */
  z-index: 100;
  margin-top: 45px;
  text-align: left;
  width: 375px;

span{
color: #fff;
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
}
}

.svg-cont {
  position: absolute;
  right: 113px;
  top: 80px;
  z-index: 1;
}
}
.manufacturing-section-bg{
  position: relative;
  width: 200%;
  height: 2010px;
  left: -50%;
  top: -70px;
  overflow: hidden;
  -webkit-transform: rotateZ(26deg);
  transform: rotateZ(26deg);
  background-color: #1d252b;
.workers-bg-manuf{
  background-image: url("../images/main_producting.jpg");
  position: absolute;
  height: 164%;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  top: -84%;
  left: -3%;
  opacity: .4;
  -webkit-transform: rotateZ(-26deg);
  transform: rotateZ(-26deg);
}
}
.montage-header-relative{
  position: relative;
  top: -555px;
  text-align: right;
  right: -75px;

}
.mask-huge{
  background-color: #fff;
  position: absolute;
  width: 200%;
  height: 1051px;
  left: -50%;
  top: -1262px;
  /* -webkit-transform: rotateZ(-26deg); */
  /* transform: rotateZ(-26deg); */
}
.homepage-projects{
  height: 970px;
  padding-top: 70px;
}
.send-btn{
  background-color: transparent;
  border: none;
  color: #3399ff;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 402px;
  margin-top: 20px;
  transition: all .3s linear;
  &:hover{
    color: #3399ff+20%;
  }
}
.question-contacts{
  float: right;
  margin-top: 30px;
  margin-right: 73px;
}
.contacts-descr{
  color: #607380;
  font-size: 18px;
}
.tel{
  font-weight: bold;
  color: #a3b4bf;
}
.montage-container{
  top:-200px;
}
.footer-footer{
  height: 100px;
  padding-top: 18px;
  border-top: 1px solid #1d252b;
  background-color: #212c33;
  .layout-container{
    height: auto;
  }
  .year,.development{
    color: #8fa5b3;
  }
}
.svg-popel{
  margin-left: 10px;
  /* padding-top: 0px; */
  /* margin-bottom: -13px; */
  vertical-align: top;
  margin-top: 3px;
  svg {
    fill: currentColor;
  }
}
.swg-2015{
  float: left;
  padding-top: 23px;
  padding-bottom: 23px;
  letter-spacing: 1px;
}
.popel-agency{
  padding-top: 23px;
  padding-bottom: 23px;
  float: right;

  span,div{
    display: inline-block;
  }
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;

  .container{
    width: 100%;
    height: 100%;
  }
  .carousel-inner{
    width: 100%;
    height: 100%;
  }
  .item{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in, transform .6s ease-in ;
  }
  .item.active{
    opacity: 1;
  }
  .item.right,.item.left{
    opacity: .7;
  }
}
.slide-background-wrap{
  .active{
    opacity: 1;
  }
}
.slide-background{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  opacity: 0;
  transition: opacity .3s linear;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;

}
.head-content{

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.head-table{
  display: table;
  width: 100%;
  .head-table-cell{
    padding: 40px;
    padding-top: 55px;
    h2{
      margin: 0;
      font-weight: bold !important;
    }
    display: table-cell;
    height: 180px;
    border: 1px solid rgba(255,255,255, 0.3);
    &:first-of-type{
      border-left: none;
    }
    &:last-of-type{
      border-right: 0;
    }
    .quality-table-span{
      display: inline-block;
      text-align: left;
      vertical-align: top;
    }
  }
}
.additional-margin-top-more{
  .head-table{
    .head-table-cell{
      padding: 30px;

      display: table-cell;
      height: 100px;

    }
  }
}
.arrow-bottom-block{
  width: 100%;
  height: 80px;
  position: relative;
  margin-top: -40px;
}
.button-cont{
  .contact-us{
    .link-span-blue{
      color: #3d94e9;
    }
  }
}
.workers-bg-manuf{
  background-image: url("../images/main_producting.jpg");
  position: absolute;
  height: 164%;
  transform: translateY(200px);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  top: -84%;
  opacity: .4;

}
section.montage-section{
  height: 600px;
  position: relative;
  height: 770px;
  padding: 80px 0;
  background-color: #1b78d6;
  background-image: url(../images/dot.png);
  background-position: 50% 50%;
  background-repeat: 10px;
  .svg-cont{
    position: static;
    margin-top: 48px;
    margin-left: -148px;
  }
  h1{
    display: inline-block;
    margin-top: 57px;
    /* float: right; */
    margin-left: 96px;
  }
  .text-block{
    display: inline-block;
    position: static;
    font-size: 18px;
    text-transform: none;
    width: 375px;
    margin-top: 25px;
    margin-left: 106px;
    span{
      text-transform: none;
    }
  }
}